@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@layer components {
  .main-container {
    @apply container mx-auto md:px-20 lg:px-32 px-5;
  }
  .sub-container {
    @apply container mx-auto md:px-24 lg:px-72 px-5;
  }
}
